# Import bazelrc preset
import %workspace%/preset.bazelrc

# Required until this is the default; expected in Bazel 7
common --enable_bzlmod

# Disable lockfile to allow tests with multiple Bazel versions
common --lockfile_mode=off

# Forward DOCKER_HOST environment variable to all tests
test --test_env=DOCKER_HOST

# Repo names are included in built Go binaries. Always use ++ for reproducibility.
common --incompatible_use_plus_in_repo_names
